@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Adjust ChatBox positioning */
/* ChatBox.css */
.chat-box {
    /* Remove position: absolute and bottom: -0.5rem */
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 100%;
    background-color: #333336;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
  }

.chat-box-input {
    all: unset;
    height: 4vh;
    color: #fbfbfb;
    font-size: 1.5rem;
    font-family: "JetBrains Mono", serif;
    text-align: left;
}

.chat-box-action-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.chat-box-send-chat-btn {
    all: unset;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #46688f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chat-box-send-chat-btn:focus {
    outline: none; 
}

.chat-box-send-chat-btn:focus-visible {
    outline: none; 
}

.chat-box-send-chat-btn:hover {
    border: 1px solid white;
}

.chat-box-send-chat-btn:active {
    border: 2px solid #5b123e;
}

.send-chat-icon {
    height:2rem;
    width:2rem;
    fill: white;
}